:root {
    --background-color1: #EDF0F3;
    --background-color2: #FCF3E8;
}

* {
    font-weight: 500;
}

body {
    background-color: var(--background-color1);
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

header {
    background: linear-gradient(0deg, #008DDC 0%, #0075B6 25%, #005C90 57.5%);
}

section {
    padding: 20px;
}

footer {
    background-color: white;
}