* {
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

section {
    background-color: rgb(237, 240, 243);
}

header {
    background: linear-gradient(0deg, #008DDC 0%, #0075B6 25%, #005C90 57.5%);
}

body {
    background-color: rgb(237, 240, 243);
}