header .main-header .customer button {
    margin-left: -10px;
}

/* dropdown cá nhân */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: -25px;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: black;
}

.dropdown-content img {
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* End dropdown cá nhân */

.qnt_item {
    float: right;
    position: relative;
    height: 15px;
    width: 15px;
    left: 38px;
    bottom: -5px;
}

.qnt_item {
    float: right;
    position: relative;
    height: 15px;
    width: 15px;
    left: 38px;
    bottom: -5px;
}

/* tiếp tục mua sắm */
.back {
    margin: 10px 0 0 90px;
}

/* Item List */
.cart-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 30px 0 0 30px;
}

.item-list {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-left: 50px;
    width: 870px;
}
  
.checkbox-container {
    padding: 10px 10px 10px 50px;
}

 .checkbox-container label {
    margin-left: 5px;
    padding-right: 150px;
 }

 input[type="checkbox"] {
    margin: 0 10px 0 -20px;
}

.item-list .box {
    display: inline-block;
    padding-left: 80px;
}

.item-card {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 50px;
    border-top: 1px solid gainsboro;
}

input[type="checkbox"] {
    margin-right: 0 30px 0 -30px;
}

.inner-name {
    width: 300px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}

.inner-price {
    margin-top: 10px;
    color: #008DDC;
}

.quantity {
    width: 80px;
    margin-left: 70px;
    border: 1px solid #ccc;
}

.del-btn {
    margin-left: 30px;
    background: none;
}

.form-select {
    margin-left: 40px;
}

/* End Item List*/
/* Payment */

.bill {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 20px 16px 0 16px; 
    width: 400px;
    text-align: center;
    height: 250px;
}

.price {
    display: flex; 
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    font-size: 18px;
}

.total {
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    font-size: 20px;
    font-weight: bold;
}

.total span {
    color: #008DDC;
}

.cart-btn {
    width: 250px;
}