{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trạm Thuốc</title>

    <!-- Bootstrap CSS từ CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- CSS nội bộ từ thư mục static -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/9ce350b724.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
</head>

<body>
    
    <header>
        <div class="container">
            <div class="top-header">
                <div class="row">
                    <div class="col-xl-9">
                    </div>
                    <div class="col-xl-3">
                        <div class="right">
                            <div class="app">
                                <p><a href="#"><i class="fa-solid fa-mobile-screen"></i> Tải ứng dụng</a></p>
                            </div>
                            <div class="hot-line">
                                <p><i class="fa-solid fa-phone"></i> Tư vấn ngay: 1800 6928</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="row">
                    <div class="col-xl-2">
                        <a href="{% url 'TrangChu' %}">
                            <div class="logo">
                                <img src="{% static 'img/logo.png' %}" alt="Logo">
                            </div>
                        </a>                        
                    </div>
                    <div class="col-xl-7">
                        <div class="search">
                            
                            <form method="POST" action="{% url 'TimKiem' %}" onsubmit="return validateSearch();">
                                {% csrf_token %}
                                <input class="search-bar" type="text" name="searched" placeholder="Tìm tên thuốc..." required>
                            </form>
                            <div class="quick-search">
                                <ul>
                                    <li><a href="#">Men vi sinh</a></li>
                                    <li><a href="#">Sữa rửa mặt</a></li>
                                    <li><a href="#">Thuốc nhỏ mắt</a></li>
                                    <li><a href="#">Kem chống nắng</a></li>
                                    <li><a href="#">Dung dịch vệ sinh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        {% if user.is_authenticated %}
                            <div class="customer">
                                <div class="dropdown">
                                    <button><i class="fa-solid fa-user"></i> {{ user.username }}</button>
                                    <div class="dropdown-content">
                                        <ul>
                                            <li>
                                                <a href="{% url 'TrangCaNhan' %}">
                                                    <img src="{% static 'img/info.png' %}" alt="" class="img-fluid" style="width: 22px; height: 22px;">
                                                    Thông tin cá nhân
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'DonHangCuaToi' %}">
                                                    <img src="{% static 'img/package.png' %}" alt="" class="img-fluid" style="width: 22px; height: 22px;">
                                                    Đơn hàng của tôi
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" id="logout-link">
                                                    <img src="{% static 'img/quit.png' %}" alt="" class="img-fluid" style="width: 22px; height: 22px;">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% comment %} Nếu có sản phẩm trong giỏ mới hiện {% endcomment %}
                                {% if cart_item_count > 0 %}
                                <p class="qnt_item">{{ cart_item_count }}</p>
                                {% endif %}
                            

                                <button class="cart" onclick="window.location.href = '{% url 'GioHang' %}'">
                                    <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
                                </button>                                
                            </div>
                        {% else %}
                            <div class="customer">
                                <button onclick="window.location.href = '{% url 'DangNhap' %}'">
                                    <i class="fa-solid fa-user"></i> Đăng nhập
                                </button>
                                <button class="cart" onclick="window.location.href = '{% url 'DangNhap' %}'" >
                                    <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                {% for data in categories_data %}
                    <li class="dropdown">
                        <a href="{% url 'categories_products' data.cate_lv1.cate_1 %}">
                            {{ data.cate_lv1.cate_1 }}
                        </a>
                        <div class="dropdown-content">
                            <ul>
                                {% for cate_lv2 in data.categories_lv2 %}
                                    <li>
                                        <a href="{% url 'categories_lv2' data.cate_lv1.cate_1 cate_lv2.cate_2 %}">
                                            <img src="{{ cate_lv2.cate_2_image.url }}" alt="{{ cate_lv2.cate_2 }}">
                                            {{ cate_lv2.cate_2 }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                <li><a href="{% url 'TruyenThong' %}">Truyền thông</a></li>

            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <h4>VỀ CHÚNG TÔI</h4>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Quy chế hoạt động</a></li>
                        <li><a href="#">Chính sách nội dung</a></li>
                        <li><a href="#">Chính sách đổi trả thuốc</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                    </ul>
                </div>
                <div class="col-xl-2">
                    <h4>DANH MỤC</h4>
                    <ul>
                        <li><a href="#">Thực phẩm chức năng</a></li>
                        <li><a href="#">Dược mỹ phẩm</a></li>
                        <li><a href="#">Chăm sóc cá nhân</a></li>
                        <li><a href="#">Thuốc</a></li>
                        <li><a href="#">Trang thiết bị y tế</a></li>
                    </ul>
                </div>
                <div class="col-xl-2">
                    <h4>TÌM HIỂU THÊM</h4>
                    <ul>
                        <li><a href="#">Góc sức khỏe</a></li>
                        <li><a href="#">Tra cứu thuốc</a></li>
                        <li><a href="#">Bệnh thường gặp</a></li>
                        <li><a href="#">Tin tức sự kiện</a></li>
                    </ul>
                </div>
                <div class="col-xl-3">
                    <h4>TỔNG ĐÀI</h4>
                    <ul>
                        <li>Tư vấn mua hàng</li>
                        <li><a href="#">18006928 (Nhánh 1)</a></li>
                        <li>Góp ý, khiếu nại</li>
                        <li><a href="#">18006928 (Nhánh 3)</a></li>
                    </ul>
                    <div class="certification">
                        <h4>CHỨNG NHẬN BỞI</h4>
                        <img src="{% static 'img/bo_cong_thuong_a8e5750f57.svg' %}" alt="bo_cong_thuong">
                        <img src="{% static 'img/DMCA_1_1f84305343.svg' %}" alt="DMCA">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="payment">
                        <h4>HỖ TRỢ THANH TOÁN</h4>
                        <ul>
                            <li><a href="#"><img src="{% static 'img/momo_ebbd8eb9b0.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/mtc_1ed684ff7c.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/visa_fdc3324c35.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/vnpay_1f73f546c4.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/zalopay_884e503cf9.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/jcb_7655e615ce.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/amex_2610a984a5.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="social-media">
                        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <ul>
                            <li><a href="#"><img src="{% static 'img/facebook_logo_3152b9bb16.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/Logo_Zalo_979d41d52b.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

<script >
    // 1. Hỏi rằng có muốn đăng xuất hay không
    document.getElementById('logout-link').addEventListener('click', function(event) {
        event.preventDefault(); // Ngăn chặn hành động mặc định của liên kết

        if (confirm('Bạn có chắc chắn muốn đăng xuất không?')) {
            window.location.href = "{% url 'DangXuat' %}";
        }
    });

    // 2. Không cho search nếu chưa nhập thông tin tìm kiếm
    function validateSearch() {
        var searched = document.querySelector('[name="searched"]').value.trim();
        if (searched === "") {
            alert("Vui lòng nhập thông tin tìm kiếm.");
            return false;
        }
        return true;
    }
    // 3. Thêm vào giỏ hàng, xóa khỏi giỏ hàng, cập nhật giỏ hàng

    // 3.1. Xác thực hành động của user
    var updateBtns = document.getElementsByClassName('update-cart');
    for (let i = 0; i < updateBtns.length; i++) {
        updateBtns[i].addEventListener('click', function () {
            var productId = this.dataset.product;
            var action = this.dataset.action;
            console.log('productId:', productId, 'action:', action);
            console.log('user:', user);
            
            if (user === "AnonymousUser") {
                // Chưa đăng nhập thì không cho update giỏ hàng
                alert('Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng.');
            } else {
                updateUserOrder(productId, action);
            }
        });
    }

    // 3.2 Gửi yêu cầu đến view
    function updateUserOrder(productId, action) {
        console.log('Đang gửi yêu cầu thêm/xóa sản phẩm.');
        var url = '/update_item/';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken // Lấy csrftoken
            },
            body: JSON.stringify({ 'productId': productId, 'action': action }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Phản hồi từ server:', data);
                // Reload trang để cập nhật giỏ hàng
                location.reload();
            })
            .catch(error => {
                console.error('Lỗi khi gửi yêu cầu:', error);
            });
    }
    
    // 4. Hiển thị pop up thông báo khi ấn nút Chọn mua

    // 4.1 Xác thực hành động của user
    document.addEventListener('DOMContentLoaded', () => {
        const popup = document.getElementById('popup');
        const popupButtons = document.querySelectorAll('.update-cart');
    
        popupButtons.forEach(button => {
            button.addEventListener('click', () => {
                if (user === "AnonymousUser") {
                    // Không làm gì cả nếu chưa đăng nhập hoặc có thể dẫn qua trang đăng nhập
                    
                } else {
                    showPopup();
                }
            });
        });
    
    // 4.2 Hiện pop up 
        function showPopup() {
            popup.classList.remove('hidden'); // Hiển thị popup
    
            setTimeout(() => {
                popup.classList.add('hidden'); // Ẩn popup sau 2 giây
            }, 2000);
        }
    });
    
    // 5. Bộ lọc và sắp xếp cho trang danh sách sản phẩm lv1 (Chỉ có bộ lọc theo giá)
    document.addEventListener('DOMContentLoaded', () => {
        const sortAscBtn = document.getElementById('sort-asc');
        const sortDescBtn = document.getElementById('sort-desc');
        const sortDefaultBtn = document.getElementById('sort-default'); // Nút mặc định
        const priceFilter = document.getElementById('price-filter');
        const productList = document.getElementById('product-list');
        const old_list = Array.from(productList.children);
    
        // Hàm sắp xếp sản phẩm
        function sortProducts(order) {
            const products = Array.from(productList.children);
    
            products.sort((a, b) => {
                const priceA = parseFloat(a.dataset.price);
                const priceB = parseFloat(b.dataset.price);
    
                if (order === 'asc') {
                    return priceA - priceB;
                } else {
                    return priceB - priceA;
                }
            });
    
            productList.innerHTML = '';
            products.forEach(product => productList.appendChild(product));
        }
    
        // Hàm lọc sản phẩm
        function filterProductsByPrice(priceRange,) {
            const filteredProducts = old_list.filter(product => {
                const productPrice = parseFloat(product.dataset.price);
    
                switch (priceRange) {
                    case '1': return productPrice < 100000;
                    case '2': return productPrice >= 100000 && productPrice < 300000;
                    case '3': return productPrice >= 300000 && productPrice < 500000;
                    case '4': return productPrice >= 500000;
                    default: return true;
                }
            });
    
            productList.innerHTML = '';
            filteredProducts.forEach(product => productList.appendChild(product));
        }
    
        // Khi trang được tải lần đầu, nút "Mặc định" sẽ được active
        sortDefaultBtn.classList.add('active');
    
        // Lắng nghe sự kiện cho bộ lọc
        priceFilter.addEventListener('change', (event) => {
            filterProductsByPrice(event.target.value);


        });
    
        // Lắng nghe sự kiện cho nút sắp xếp
        sortAscBtn.addEventListener('click', () => {
            sortAscBtn.classList.add('active');
            sortDescBtn.classList.remove('active');
            sortDefaultBtn.classList.remove('active');
            sortProducts('asc');
        });
    
        sortDescBtn.addEventListener('click', () => {
            sortDescBtn.classList.add('active');
            sortAscBtn.classList.remove('active');
            sortDefaultBtn.classList.remove('active');
        
            sortProducts('desc');
        });
    
        sortDefaultBtn.addEventListener('click', () => {
            sortAscBtn.classList.remove('active');
            sortDescBtn.classList.remove('active');
            sortDefaultBtn.classList.add('active');
            productList.innerHTML = '';
            old_list.forEach(product => productList.appendChild(product));
        });
    });

    // 6. Gắn thuộc tính placeholder bằng js vì model không truyền thuộc tính vào được 
    document.addEventListener('DOMContentLoaded', function() {
        const password1Field = document.getElementById('id_password1');
        const password2Field = document.getElementById('id_password2');
    
        // Gán placeholder cho password1 và password2
        password1Field.setAttribute('placeholder', 'Nhập mật khẩu');
        password2Field.setAttribute('placeholder', 'Nhập lại mật khẩu');
    });
    
    // 7. Cập nhật tổng tiền và thành tiền trong giỏ hàng
    function updateTotal() {
        let total = 0;
        let checkedItems = document.querySelectorAll('.item-checkbox:checked');

        checkedItems.forEach(item => {
            const price = parseFloat(item.getAttribute('data-price'));
            const quantity = item.closest('.item-card').querySelector('.quantity').value;
            total += price * quantity;
        });

        document.getElementById('total-price').innerText = `${total.toLocaleString()}đ`;
        document.getElementById('grand-total').innerText = `${total.toLocaleString()}đ`;
    }
    
    // 8. Phân loại các loại đơn hàng trong Đơn hàng của tÔI
    function tatca(link) {
        const itemCards = document.querySelectorAll(".item-card");
        itemCards.forEach(card => {
            card.style.display = "block";
        });
        activeLink(link);
    }
    
    function dahuy(link) {
        const itemCards = document.querySelectorAll(".item-card");
        itemCards.forEach(card => {
            card.style.display = card.getAttribute("data-status") === "Đã hủy" ? "block" : "none";
        });
        activeLink(link);
    }
    
    function other(link) {
        const itemCards = document.querySelectorAll(".item-card");
        itemCards.forEach(card => {
            card.style.display = card.getAttribute("data-status") === link.innerText.trim() ? "block" : "none";
        });
        activeLink(link);
    }
    
    function activeLink(link) {
        // Lấy tất cả các liên kết
        const links = document.querySelectorAll('.filter-order');
    
        // Xóa kiểu dáng của tất cả các liên kết
        links.forEach(link => {
            link.style.borderBottom = '';
            link.style.borderWidth = '';
            link.style.paddingBottom = '';
        });
    
        // Thêm kiểu dáng cho liên kết vừa được click
        link.style.borderBottom = '1px solid #008DDC';
        link.style.borderWidth = 'thick';
        link.style.paddingBottom = '5px';
    }
    
    // Đặt liên kết "Tất cả" làm mặc định khi tải trang
    document.addEventListener("DOMContentLoaded", function() {
        const allLink = document.querySelector('.filter-order.active');
        if (allLink) {
            activeLink(allLink);
        }
    });

    // 9. Carousel cho ảnh sản phẩm
        
    document.addEventListener('DOMContentLoaded', function () {
        const carousel = document.querySelector('#carouselExampleIndicators');
        const thumbnails = document.querySelectorAll('.carousel-thumbnails img');
        const thumbnailsWrapper = document.querySelector('.carousel-thumbnails');
        const thumbPrev = document.querySelector('#thumbPrev');
        const thumbNext = document.querySelector('#thumbNext');
        
        const maxVisibleThumbnails = 4; // Số lượng thumbnails tối đa hiển thị mỗi lần
        const totalThumbnails = thumbnails.length; // Tổng số ảnh thumbnail
        let startIndex = 0; // Vị trí bắt đầu của thumbnails đang hiển thị
        let activeIndex = 0; // Vị trí của ảnh đang active trên carousel
        
        const updateThumbnailVisibility = () => {
            // Kiểm tra nút Prev
            if (startIndex === 0) {
                thumbPrev.classList.add('d-none'); // Ẩn nếu đang ở vị trí đầu tiên
            } else {
                thumbPrev.classList.remove('d-none'); // Hiện nếu không ở vị trí đầu tiên
            }
        
            // Kiểm tra nút Next
            if (startIndex + maxVisibleThumbnails >= totalThumbnails) {
                thumbNext.classList.add('d-none'); // Ẩn nếu ở vị trí cuối cùng
            } else {
                thumbNext.classList.remove('d-none'); // Hiện nếu còn ảnh phía sau
            }
        
            // Dịch chuyển thumbnails (Hiện 4 ảnh mỗi lần)
            const offset = -startIndex * (60 + 10); // 60px là chiều rộng mỗi ảnh, 10px là khoảng cách giữa các ảnh
            thumbnailsWrapper.style.transform = `translateX(${offset}px)`;
        };
    
        // Cập nhật lại ảnh active cho các thumbnail
        const updateActiveThumbnail = () => {
            thumbnails.forEach((thumbnail, index) => {
                if (index === activeIndex) {
                    thumbnail.classList.add('active-thumbnail');
                } else {
                    thumbnail.classList.remove('active-thumbnail');
                }
            });
        };
        
        // Sự kiện bấm nút Prev
        thumbPrev.addEventListener('click', (e) => {
            e.preventDefault(); // Ngừng hành động mặc định của nút Prev
            if (startIndex > 0) {
                startIndex -= maxVisibleThumbnails; // Di chuyển 4 ảnh về phía trước
                activeIndex -= maxVisibleThumbnails; // Di chuyển 4 ảnh về phía trước trong carousel
                if (startIndex < 0) startIndex = 0; // Đảm bảo không bị tràn quá ảnh đầu tiên
                updateThumbnailVisibility();
                
                // Đặt lại activeIndex thành ảnh đầu tiên của nhóm thumbnail mới
                activeIndex = startIndex;
                updateActiveThumbnail();
                
                // Chuyển đến ảnh đầu tiên của nhóm thumbnail hiện tại
                const carouselInstance = bootstrap.Carousel.getInstance(carousel);
                carouselInstance.to(activeIndex); // Chuyển đến slide tương ứng
            }
        });
        
        // Sự kiện bấm nút Next
        thumbNext.addEventListener('click', (e) => {
            e.preventDefault(); // Ngừng hành động mặc định của nút Next
            if (startIndex + maxVisibleThumbnails < totalThumbnails) {
                startIndex += maxVisibleThumbnails; // Di chuyển 4 ảnh về phía sau
                activeIndex += maxVisibleThumbnails; // Di chuyển 4 ảnh tiếp theo trong carousel
                updateThumbnailVisibility();
                
                // Đặt lại activeIndex thành ảnh đầu tiên của nhóm thumbnail mới
                activeIndex = startIndex;
                updateActiveThumbnail();
                
                // Chuyển đến ảnh đầu tiên của nhóm thumbnail mới
                const carouselInstance = bootstrap.Carousel.getInstance(carousel);
                carouselInstance.to(activeIndex); // Chuyển đến slide tương ứng
            }
        });
        
        // Đồng bộ trạng thái thumbnails khi carousel thay đổi slide
        carousel.addEventListener('slide.bs.carousel', function (e) {
            activeIndex = parseInt(e.relatedTarget.dataset.bsSlideTo);
            
            // Kiểm tra và đặt lại startIndex sao cho luôn bắt đầu từ ảnh đầu tiên của nhóm
            if (activeIndex % maxVisibleThumbnails === 0 || activeIndex === 0) {
                startIndex = activeIndex; // Đặt lại startIndex về ảnh đầu tiên của nhóm
            } else if (activeIndex % maxVisibleThumbnails !== 0 && activeIndex > startIndex + maxVisibleThumbnails - 1) {
                startIndex = activeIndex - (activeIndex % maxVisibleThumbnails); // Điều chỉnh startIndex về ảnh đầu tiên trong nhóm
            }
            
            // Đặt lại active thumbnail
            updateActiveThumbnail();
            updateThumbnailVisibility(); // Cập nhật lại vị trí của các thumbnails
        });
    
        // Khởi tạo trạng thái ban đầu
        updateThumbnailVisibility();
        updateActiveThumbnail();
    });

    // 10. Kiểm tra xem có chọn sản phẩm chưa trước khi tạo đơn hàng
    document.addEventListener('DOMContentLoaded', function () {
        const checkoutButton = document.getElementById('DatHang');
        const itemCheckboxes = document.querySelectorAll('.item-checkbox');

        checkoutButton.addEventListener('click', function (event) {
            // Kiểm tra nếu không có checkbox nào được chọn
            const isAnyItemSelected = Array.from(itemCheckboxes).some(checkbox => checkbox.checked);
            
            if (!isAnyItemSelected) {
                event.preventDefault(); // Ngăn không cho điều hướng
                alert('Bạn chưa chọn sản phẩm nào trong giỏ hàng.');
            }
        });
    });

    // 11. Tạo đơn hàng mới
    document.getElementById('checkout-button').addEventListener('click', function(event) {
        // Lấy giá trị các trường thông tin nhận hàng
        const fullName = document.querySelector('input[name="full_name"]').value.trim();
        const phoneNumber = document.querySelector('input[name="phone_number"]').value.trim();
        const address = document.querySelector('input[name="address"]').value.trim();
        const paymentMethods = document.querySelectorAll('input[name="payment_method"]');
        let paymentMethodSelected = false; // Flag để kiểm tra xem có phương thức thanh toán được chọn hay không
    
        // Kiểm tra mỗi trường nhập thông tin nhận hàng
        let errorMessage = "";
        if (!fullName) {
            errorMessage += "Vui lòng nhập họ và tên người nhận.\n";
        }
    
        if (!phoneNumber) {
            errorMessage += "Vui lòng nhập số điện thoại người nhận.\n";
        }
    
        if (!address) {
            errorMessage += "Vui lòng nhập địa chỉ.\n";
        }
    
        // Kiểm tra xem có phương thức thanh toán nào được chọn không
        for (const method of paymentMethods) {
            if (method.checked) {
                paymentMethodSelected = true;
                break;
            }
        }
    
        if (!paymentMethodSelected) {
            errorMessage += "Vui lòng chọn phương thức thanh toán.\n";
        }
    
        if (errorMessage) {
            // Hiển thị alert với các lỗi và ngăn form submit
            alert(errorMessage);
            event.preventDefault();  
        } else {
            alert('Đã tạo đơn hàng thành công');
            document.getElementById('order-form').submit();  // Submit form nếu không có lỗi
        }
    });
    
</script> 

</html>