{% extends 'base.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/order.css'%}">

    <section class="bread-crumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'TrangChu' %}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đơn hàng của tôi</li>
                </ol>
            </nav>
        </div>
    </section>
    
    <section class="container">
        <div class="order-cont">
            <div class="box">
                <p>Đơn hàng của tôi</p>
            </div>
            <ul>
                <li><a href="#" class="filter-order active" onClick="tatca(this)">Tất cả</a></li>
                <li><a href="#" class="filter-order" onClick="other(this)">Đang xử lý</a></li>
                <li><a href="#" class="filter-order" onClick="other(this)">Đang giao</a></li>
                <li><a href="#" class="filter-order" onClick="other(this)">Đã giao</a></li>
                <li><a href="#" class="filter-order" onClick="dahuy(this)">Đã hủy</a></li>
                <li><a href="#" class="filter-order" onClick="other(this)">Trả hàng</a></li>                                   
            </ul>
            
            {% for order in order_details %}
                <div class="item-card" data-status="{{ order.order_status }}">
                    <div class="box">
                        <p>Đơn hàng ngày {{ order.order_date|date:"d/m/Y" }}</p>
                        <p class="inner-name">{{ order.order_status }}</p>
                    </div>
                    <div class="order-info">
                        <p>Người nhận: {{ order.receiver_name }}</p>
                        <p>Số điện thoại nhận hàng: {{ order.receiver_phone }}</p>
                        <p>Địa chỉ nhận hàng: {{ order.receiver_address }}</p>
                    </div>
                    <div class="item-info">
                        {% for item in order.items %}
                        <div>
                            <img src="{{ item.image_url }}" alt="" class="avatar-image">
                            <p class="inner-name">{{ item.product_name }}</p>
                            <p class="inner-price">{{ item.total_price }}đ</p>
                            <p>x{{ item.quantity }} {{ item.product_unit_type }}</p>                        
                        </div>
                        {% endfor %}
                        <div class="total-method">
                            <p>{{order.order_method}}</p>
                            <div>
                                <p>Thành tiền:</p>
                                <p class="inner-price">{{ order.order_total }}đ</p>
                            </div> 
                            {% if order.order_status == "Đang xử lý" %}
                            <button class="order-btn">Yêu cầu hủy</button>
                            {% endif %}
                        </div>
                        
                    </div>
                    
                    
                </div>
            {% endfor %}
        </div>
    </section>
    
    {% endblock %}
    