{% extends 'base.html' %}

{% load static %}
{% block content %}

    <section class="bread-crumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="TrangChu.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thực phẩm chức năng</li>
                </ol>
            </nav>
        </div>
    </section>
 
    <section class="categories">
        <div class="container">
            <h1>Thực phẩm chức năng</h1>
            <div class="grid">
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/VitaminKhoangChat.png' %}" alt="">
                            <h5>Vitamin & Khoáng chất</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/SinhLyNoiTietTo.png' %}" alt="">
                            <h5>Sinh lý & Nội tiết tố</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/CaiThienTangCuongChucNang.png' %}" alt="">
                            <h5>Cải thiện & Tăng cường chức năng</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/HoTroDieuTri.png' %}" alt="">
                            <h5>Hỗ trợ điều trị</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/HoTroTieuHoa.png' %}" alt="">
                            <h5>Hỗ trợ tiêu hóa</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/ThanKinhNao.png' %}" alt="">
                            <h5>Thần kinh não</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/HoTroLamDep.png' %}" alt="">
                            <h5>Hỗ trợ làm đẹp</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/SucKhoeTimMach.png' %}" alt="">
                            <h5>Sức khỏe tim mạch</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/DinhDuong.png' %}" alt="">
                            <h5>Dinh dưỡng</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <section class="product-list">
        <div class="container">
            <div class="product-header">
                <div class="grid">
                    <h1>Danh sách sản phẩm</h1>
                    <div class="sort">
                        <h2>Sắp xếp theo</h2>
                        <button>Tăng dần</button>
                        <button>Giảm dần</button>
                    </div>
                </div>
            </div>
            <div class="filter-and-product-cards">
                <div class="filter">
                    <h1><i class="fa fa-list" aria-hidden="true"></i>Bộ lọc nâng cao</h1>
                    <div class="filter-by-price">
                        <h2>Lọc theo giá</h2>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Dưới 100.000đ</option>
                            <option value="2">100.000 -> dưới 300.000đ</option>
                            <option value="3">300.000đ -> dưới 500.000đ</option>
                            <option value="4">500.000đ trở lên</option>
                        </select>
                    </div>
                    <div class="filter-by-brand">
                        <h2>Lọc theo thương hiệu</h2>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Thương hiệu 1</option>
                            <option value="2">Thương hiệu 2</option>
                            <option value="3">Thương hiệu 3</option>
                            <option value="4">Thương hiệu 4</option>
                        </select>
                    </div>
                </div>

                <div class="container">
                    <div class="product-cards">
                        <div class="grid">
                            {% for product in page_obj %}
                            <div class="card">
                                <a href="#">
                                    <img src="{% static product.img %}" class="card-img-top" alt="{{ product.name }}">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="card-title-link">
                                        <h5 class="card-title line-clamp">
                                            {{ product.name }}
                                        </h5>
                                    </a>
                                    <p class="price"><del>{{ product.old_price }}</del></p>
                                    <div class="product-info">
                                        <p class="price">{{ product.new_price }}/Hộp</p>
                                        <div class="rate-and-sold">
                                            <p class="rate"><i class="fa-solid fa-heart"></i>{{ product.likes }}</p>
                                            <p class="vertical-line">|</p>
                                            <p class="sold">Đã bán {{ product.sold }}</p>
                                        </div>
                                    </div>
                                    <button>CHỌN MUA</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Phân trang -->
                    <div class="PhanTrang">
                        <nav aria-label="Page navigation" class="mt-4">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                    
                                {% for num in page_range %}
                                    {% if num == '...' %}
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                    {% else %}
                                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                    
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}