{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/product_page_style.css' %}">
<section class="bread-crumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for item in breadcrumb %}
                    {% if forloop.last %}
                        <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
</section>

<section class="categories"> 
    <div class="container">
        <h1>{{ cate_lv1.cate_1 }}</h1>
        <div class="grid">
            {% for category in categories_lv2 %}
                <a href="{% url 'categories_lv2' cate_lv1.cate_1 category.cate_2 %}" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ category.cate_2_image.url }}" alt="{{ category.cate_2 }}">
                            <h5>{{ category.cate_2 }}</h5>
                            <p> {{ category.num_products }} sản phẩm</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
    
    <section class="product-list">
        <div class="container">
            <div class="product-header">
                <div class="grid">
                    <h1>Danh sách sản phẩm</h1>
                    <div class="sort">
                        <h2>Sắp xếp theo</h2>
                        <button id="sort-default">Mặc định</button> 
                        <button id="sort-asc">Tăng dần</button>
                        <button id="sort-desc">Giảm dần</button>
                        
                    </div>
                </div>
            </div>
            <div class="filter-and-product-cards">
                <div class="filter">
                    <h1><i class="fa fa-list" aria-hidden="true"></i>Bộ lọc nâng cao</h1>
                    <div class="filter-by-price">
                        <h2>Lọc theo giá</h2>
                        <select class="form-select" id="price-filter" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Dưới 100.000đ</option>
                            <option value="2">100.000 -> dưới 300.000đ</option>
                            <option value="3">300.000đ -> dưới 500.000đ</option>
                            <option value="4">500.000đ trở lên</option>
                        </select>
                    </div>
                    
                    
                    <div class="filter-by-brand">
                        <h2>Lọc theo đơn vị tính</h2>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Hộp</option>
                            <option value="2">Tuýt</option>
                            <option value="3">Ống</option>
                            <option value="4">Viên</option>
                        </select>
                    </div>
                </div>
    
                <div class="container">
                    <div class="product-cards">
                        <div class="grid" id="product-list">
                            {% for product in page_obj %}
                            <div class="card" data-price="{{ product.prod_price }}">
                                <a href="{% url 'product_detail' product.prod_cate_lv1 product.prod_cate_lv2 product.prod_name %}">
                                    {% if product.avatar_url %}
                                        <img src="{{ product.avatar_url }}" alt="{{ product.prod_name }} avatar" class="card-img-top">
                                    {% else %}
                                        <img src="/static/default-avatar.jpg" alt="Default avatar" class="card-img">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <a href="{% url 'product_detail' product.prod_cate_lv1 product.prod_cate_lv2 product.prod_name %}" class="card-title-link">
                                        <h5 class="card-title line-clamp">
                                            {{ product.prod_name }}
                                        </h5>
                                    </a>
                                    <p class="price"><del>{{ product.prod_discount_formatted }}</del></p>
                                    <div class="product-info">
                                        <p class="price">{{ product.prod_price_formatted }}đ / {{ product.prod_unit_type }}</p>
                                        <div class="rate-and-sold">
                                            <p class="rate"><i class="fa-solid fa-heart"></i>{{ product.prod_num_rating_formatted }}</p>
                                            <p class="vertical-line">|</p>
                                            <p class="sold">Đã bán {{ product.prod_sold_formatted }}</p>
                                        </div>
                                    </div>
                                    
                                    <div id="popup" class="popup hidden">
                                        <img src="{% static 'img/Thông báo Thêm vào giỏ hàng.png' %}" alt="Sản phẩm đã được thêm vào giỏ hàng">
                                    </div>
                                    
                                    <button data-product="{{ product.id }}" data-action="add" class="update-cart">CHỌN MUA</button>
                                    
                                    
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
    
                    <!-- Phân trang -->
                    <div class="PhanTrang">
                        <nav aria-label="Page navigation" class="mt-4">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
    
                                {% for num in page_range %}
                                    {% if num == '...' %}
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                    {% else %}
                                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
    
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sortAscBtn = document.getElementById('sort-asc');
        const sortDescBtn = document.getElementById('sort-desc');
        const sortDefaultBtn = document.getElementById('sort-default'); // Nút mặc định
        const priceFilter = document.getElementById('price-filter');
        const productList = document.getElementById('product-list');
        const old_list = Array.from(productList.children);
    
        // Hàm sắp xếp sản phẩm
        function sortProducts(order) {
            const products = Array.from(productList.children);
    
            products.sort((a, b) => {
                const priceA = parseFloat(a.dataset.price);
                const priceB = parseFloat(b.dataset.price);
    
                if (order === 'asc') {
                    return priceA - priceB;
                } else {
                    return priceB - priceA;
                }
            });
    
            productList.innerHTML = '';
            products.forEach(product => productList.appendChild(product));
        }
    
        // Hàm lọc sản phẩm
        function filterProductsByPrice(priceRange,) {
            const filteredProducts = old_list.filter(product => {
                const productPrice = parseFloat(product.dataset.price);
    
                switch (priceRange) {
                    case '1': return productPrice < 100000;
                    case '2': return productPrice >= 100000 && productPrice < 300000;
                    case '3': return productPrice >= 300000 && productPrice < 500000;
                    case '4': return productPrice >= 500000;
                    default: return true;
                }
            });
    
            productList.innerHTML = '';
            filteredProducts.forEach(product => productList.appendChild(product));
        }
    
        // Khi trang được tải lần đầu, nút "Mặc định" sẽ được active
        sortDefaultBtn.classList.add('active');
    
        // Lắng nghe sự kiện cho bộ lọc
        priceFilter.addEventListener('change', (event) => {
            filterProductsByPrice(event.target.value);


        });
    
        // Lắng nghe sự kiện cho nút sắp xếp
        sortAscBtn.addEventListener('click', () => {
            sortAscBtn.classList.add('active');
            sortDescBtn.classList.remove('active');
            sortDefaultBtn.classList.remove('active');
            sortProducts('asc');
        });
    
        sortDescBtn.addEventListener('click', () => {
            sortDescBtn.classList.add('active');
            sortAscBtn.classList.remove('active');
            sortDefaultBtn.classList.remove('active');
        
            sortProducts('desc');
        });
    
        sortDefaultBtn.addEventListener('click', () => {
            sortAscBtn.classList.remove('active');
            sortDescBtn.classList.remove('active');
            sortDefaultBtn.classList.add('active');
            productList.innerHTML = '';
            old_list.forEach(product => productList.appendChild(product));
        });
    });
</script>
    

{% endblock %}
