<!doctype html>
<html lang="en">

<head>
    {% load static %} <!-- Nạp thẻ static -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thực phẩm chức năng</title>

    <!-- Bootstrap CSS từ CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- CSS nội bộ từ thư mục static -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_page_style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <div class="top-header">
                <div class="row">
                    <div class="col-xl-9">
                    </div>
                    <div class="col-xl-3">
                        <div class="right">
                            <div class="app">
                                <p><a href="#"><i class="fa-solid fa-mobile-screen"></i> Tải ứng dụng</a></p>
                            </div>
                            <div class="hot-line">
                                <p><i class="fa-solid fa-phone"></i> Tư vấn ngay: 1800 6928</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="row">
                    <div class="col-xl-2">
                        <div class="logo">
                            <img src="{% static "img/logo.png" %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="search">
                            <input class="search-bar" type="text"
                                placeholder="Tìm tên thuốc, bệnh lý, thực phẩm chức năng...">
                            <div class="quick-search">
                                <ul>
                                    <li><a href="#">Men vi sinh</a></li>
                                    <li><a href="#">Sữa rửa mặt</a></li>
                                    <li><a href="#">Thuốc nhỏ mắt</a></li>
                                    <li><a href="#">Kem chống nắng</a></li>
                                    <li><a href="#">Dung dịch vệ sinh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="customer">
                            <button><i class="fa-solid fa-user"></i> Đăng nhập</button>
                            <button class="cart"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li class="dropdown"><a href="./PList_ThucPhamChucNang.html">Thực phẩm chức năng</a>
                    <div class="dropdown-content">
                        <ul>
                            <ul>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/VitaminKhoangChat.png' %}" alt=""> Vitamin & Khoáng chất</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/SinhLyNoiTietTo.png' %}" alt=""> Sinh lý & Nội tiết tố</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/CaiThienTangCuongChucNang.png' %}" alt=""> Cải thiện & Tăng cường chức năng</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/HoTroDieuTri.png' %}" alt=""> Hỗ trợ điều trị</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/HoTroTieuHoa.png' %}" alt=""> Hỗ trợ tiêu hóa</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/ThanKinhNao.png' %}" alt=""> Thần kinh não</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/HoTroLamDep.png' %}" alt=""> Hỗ trợ làm đẹp</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/SucKhoeTimMach.png' %}" alt=""> Sức khỏe tim mạch</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/ThucPhamChucNang/DinhDuong.png' %}" alt=""> Dinh dưỡng</a></li>
                            </ul>
                        </ul>
                    </div>
                </li>
                <li class="dropdown"><a href="./PList_DuocMyPham.html">Dược mỹ phẩm</a>
                    <div class="dropdown-content">
                        <ul>
                            <ul>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/ChamSocDaMat.png' %}" alt=""> Chăm sóc da mặt</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/ChamSocCoThe.png' %}" alt=""> Chăm sóc cơ thể</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/GiaiPhapLanDa.png' %}" alt=""> Giải pháp làn da</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/ChamSocToc_DaDau.png' %}" alt=""> Chăm sóc tóc - da đầu</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/MyPhamTrangDiem.png' %}" alt=""> Mỹ phẩm trang điểm</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/ChamSocDaVungMat.png' %}" alt=""> Chăm sóc da vùng mắt</a></li>
                                <li><a href="#"><img src="{% static 'img/categories/DuocMyPham/SanPhamTuThienNhien.png' %}" alt=""> Sản phẩm từ thiên nhiên</a></li>
                            </ul>
                        </ul>
                    </div>
                </li>
                <li class="dropdown"><a href="./PList_ChamSocCaNhan.html">Chăm sóc cá nhân</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/HoTroTinhDuc.png' %}" alt=""> Hỗ trợ tình dục</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/ThucPham_DoUong.png' %}" alt=""> Thực phẩm - Đồ uống</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/VeSinhCaNhan.png' %}" alt=""> Vệ sinh cá nhân</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/ChamSocRangMieng.png' %}" alt=""> Chăm sóc răng miệng</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/DoDungGiaDinh.png' %}" alt=""> Đồ dùng gia đình</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/HangTongHop.png' %}" alt=""> Hàng tổng hợp</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/TinhDauCacLoai.png' %}" alt=""> Tinh dầu các loại</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ChamSocCaNhan/ThietBiLamDep.png' %}" alt=""> Thiết bị làm đẹp</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown"><a href="./PList_Thuoc.html">Thuốc</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#"><img src="{% static 'img/categories/Thuoc/ThuocKhongKeDon.png' %}" alt=""> Thuốc không kê đơn</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/Thuoc/ThuocKeDon.png' %}" alt=""> Thuốc kê đơn</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown"><a href="./PList_ThietBiYTe.html">Thiết bị y tế</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#"><img src="{% static 'img/categories/ThietBiYTe/DungCuYTe.png' %}" alt=""> Dụng cụ y tế</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ThietBiYTe/DungCuTheoDoi.png' %}" alt=""> Dụng cụ theo dõi</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ThietBiYTe/DungCuSoCuu.png' %}" alt=""> Dụng cụ sơ cứu</a></li>
                            <li><a href="#"><img src="{% static 'img/categories/ThietBiYTe/KhauTrang.png' %}" alt=""> Khẩu trang</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="./TruyenThong.html">Truyền thông</a></li>
            </ul>
        </div>
    </nav>

    <section class="bread-crumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="TrangChu.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thực phẩm chức năng</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="categories">
        <div class="container">
            <h1>Thực phẩm chức năng</h1>
            <div class="grid">
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/VitaminKhoangChat.png' %}" alt="">
                            <h5>Vitamin & Khoáng chất</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/SinhLyNoiTietTo.png' %}" alt="">
                            <h5>Sinh lý & Nội tiết tố</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/CaiThienTangCuongChucNang.png' %}" alt="">
                            <h5>Cải thiện & Tăng cường chức năng</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/HoTroDieuTri.png' %}" alt="">
                            <h5>Hỗ trợ điều trị</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/HoTroTieuHoa.png' %}" alt="">
                            <h5>Hỗ trợ tiêu hóa</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/ThanKinhNao.png' %}" alt="">
                            <h5>Thần kinh não</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/HoTroLamDep.png' %}" alt="">
                            <h5>Hỗ trợ làm đẹp</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/SucKhoeTimMach.png' %}" alt="">
                            <h5>Sức khỏe tim mạch</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
                <a href="PList_lv2.html" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'img/categories/ThucPhamChucNang/DinhDuong.png' %}" alt="">
                            <h5>Dinh dưỡng</h5>
                            <p>201 sản phẩm</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    

    <section class="product-list">
        <div class="container">
            <div class="product-header">
                <div class="grid">
                    <h1>Danh sách sản phẩm</h1>
                    <div class="sort">
                        <h2>Sắp xếp theo</h2>
                        <button>Tăng dần</button>
                        <button>Giảm dần</button>
                    </div>
                </div>
            </div>
            <div class="filter-and-product-cards">
                <div class="filter">
                    <h1><i class="fa fa-list" aria-hidden="true"></i>Bộ lọc nâng cao</h1>
                    <div class="filter-by-price">
                        <h2>Lọc theo giá</h2>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Dưới 100.000đ</option>
                            <option value="2">100.000 -> dưới 300.000đ</option>
                            <option value="3">300.000đ -> dưới 500.000đ</option>
                            <option value="4">500.000đ trở lên</option>
                        </select>
                    </div>
                    <div class="filter-by-brand">
                        <h2>Lọc theo thương hiệu</h2>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Thương hiệu 1</option>
                            <option value="2">Thương hiệu 2</option>
                            <option value="3">Thương hiệu 3</option>
                            <option value="4">Thương hiệu 4</option>
                        </select>
                    </div>
                </div>

                <div class="product-cards">

                    <div class="grid">

                        <div class="card card1 activated">
                            <!-- Link vào trang ChiTietSanPham.html -->
                            <a href="ChiTietSanPham.html">
                                <img src="./assets/img/product/paracetalmol.jpg" class="card-img-top" alt="Paracetamol">
                            </a>
                            <div class="card-body">
                                <!-- Link vào trang ChiTietSanPham.html -->
                                <a href="ChiTietSanPham.html" class="card-title-link">
                                    <h5 class="card-title line-clamp">
                                        Paracetamol thuốc bổ giảm giá săn sale sập sàn siêu deal siêu hot siêu sang siêu giàu
                                    </h5>
                                </a>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card1 activated">
                            <img src=".\assets\img\product\paracetalmol.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu
                                    deal
                                    siêu hot sieu sang sieu giau
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>

                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card2">
                            <img src=".\assets\img\product\kemboingoaida.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title line-clamp">Kem bôi ngoài da Bepanthen Balm Bayer phòng ngừa hăm tã, dưỡng ẩm cho da nhạy cảm của bé (30g)
                                </h5>
                                <p class="price"><del>120.000 đ</del></p>
                                <div class="product-info">
                                    <p class="price">200.000 đ/Tuýp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>

                        
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                        <div class="card card3">
                            <img src=".\assets/img/product/vienuonggolex.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Viên uống Golex Ocavill hỗ trợ chống lại sự phình to của tuyến tiền liệt, cải thiện các rối loạn tiểu tiện (30 viên)
                                </h5>
                                <p class="price"><del></del></p>
                                <div class="product-info">
                                    <p class="price">100.000 đ/Hộp</p>
                                    <div class="rate-and-sold">
                                        <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                                        <p class="vertical-line">|</p>
                                        <p class="sold">Đã bán 6.5k</p>
                                    </div>
                                </div>
                                <button>CHỌN MUA</button>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <p class="page-link prevbtn">Previous</p>
                        </li>
                        <li class="page-item actived">
                            <p class="page-link page_btn" value="1">1</p>
                        </li>
                        <li class="page-item">
                            <p class="page-link page_btn" value="2">2</p>
                        </li>
                        <li class="page-item">
                            <p class="page-link page_btn" value="3">3</p>
                        </li>
                        <li class="page-item">
                            <p class="page-link nextbtn">Next</p>
                        </li>
                    </ul>
                       
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <h4>VỀ CHÚNG TÔI</h4>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Quy chế hoạt động</a></li>
                        <li><a href="#">Chính sách nội dung</a></li>
                        <li><a href="#">Chính sách đổi trả thuốc</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                    </ul>
                </div>
                <div class="col-xl-2">
                    <h4>DANH MỤC</h4>
                    <ul>
                        <li><a href="#">Thực phẩm chức năng</a></li>
                        <li><a href="#">Dược mỹ phẩm</a></li>
                        <li><a href="#">Chăm sóc cá nhân</a></li>
                        <li><a href="#">Thuốc</a></li>
                        <li><a href="#">Trang thiết bị y tế</a></li>
                    </ul>
                </div>
                <div class="col-xl-2">
                    <h4>TÌM HIỂU THÊM</h4>
                    <ul>
                        <li><a href="#">Góc sức khỏe</a></li>
                        <li><a href="#">Tra cứu thuốc</a></li>
                        <li><a href="#">Bệnh thường gặp</a></li>
                        <li><a href="#">Tin tức sự kiện</a></li>
                    </ul>
                </div>
                <div class="col-xl-3">
                    <h4>TỔNG ĐÀI</h4>
                    <ul>
                        <li>Tư vấn mua hàng</li>
                        <li><a href="#">18006928 (Nhánh 1)</a></li>
                        <li>Góp ý, khiếu nại</li>
                        <li><a href="#">18006928 (Nhánh 3)</a></li>
                    </ul>
                    <div class="certification">
                        <h4>CHỨNG NHẬN BỞI</h4>
                        <img src="{% static 'img/bo_cong_thuong_a8e5750f57.svg' %}" alt="bo_cong_thuong">
                        <img src="{% static 'img/DMCA_1_1f84305343.svg' %}" alt="DMCA">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="payment">
                        <h4>HỖ TRỢ THANH TOÁN</h4>
                        <ul>
                            <li><a href="#"><img src="{% static 'img/momo_ebbd8eb9b0.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/mtc_1ed684ff7c.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/visa_fdc3324c35.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/vnpay_1f73f546c4.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/zalopay_884e503cf9.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/jcb_7655e615ce.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/amex_2610a984a5.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="social-media">
                        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <ul>
                            <li><a href="#"><img src="{% static 'img/facebook_logo_3152b9bb16.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'img/Logo_Zalo_979d41d52b.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/9ce350b724.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/myjs.js' %}"></script>


</body>

</html>