{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<section class="notification">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <a href="#"><img src="{% static 'img/categories/SOCIAL_Banner_Web_PC_1610x492_995443e862.webp' %}" alt=""></a>
            </div>
            <div class="col-xl-4">
                <a href="#"><img src="{% static 'img/categories/399x117_49d70d4809_1dbe50dd49.webp' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/categories/PC_3d7805381e.webp' %}" alt=""></a>
            </div>
        </div>
    </div>
</section>


<section class="best-sellers">
    <div class="container">
        <h1><i class="fa-regular fa-circle-check"></i>Sản phẩm bán chạy</h1>
        <div class="items">
            
            <div class="card">
                <img src="{% static 'img/product/paracetalmol.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title line-clamp">Paracetamol thuốc bổ giảm giá săn sele sập sàn siêu deal
                        siêu hot siêu sang siêu giàu
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Hộp</p>
                        <div class="rate-and-sold">
                            <p class="rate"><i class="fa-solid fa-heart"></i>35.1k</p>
                            <p class="vertical-line">|</p>
                            <p class="sold">Đã bán 6.5k</p>
                        </div>
                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div>
            
        </div>
        <div class="bottom-best-sellers">
            <a href="#"><img src="{% static 'img/categories/bottombs1.svg' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/categories/bottombs2.svg' %}" alt=""></a>
        </div>
    </div>
</section>


    <section class="categories">
        <div class="container">
            <article class="category">
                <h1><i class="fa-regular fa-circle-check"></i>Danh mục nổi bật</h1>
                <div class="grid">
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="./assets\img\categories\ThucPhamChucNang\VitaminKhoangChat.png" alt="">
                                <p>Vitamin & Khoáng chất</p>
                                <p>201 sản phẩm</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bottom-category">
                    <a href="#"><img src="./assets/img/categories/main_banner_destop_2c409133ee.webp" alt=""></a>
                </div>
            </article>
        </div>
    </section>

{% endblock %}
