{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<section class="notification">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <a href="#"><img src="{% static 'img/categories/SOCIAL_Banner_Web_PC_1610x492_995443e862.webp' %}" alt=""></a>
            </div>
            <div class="col-xl-4">
                <a href="#"><img src="{% static 'img/categories/399x117_49d70d4809_1dbe50dd49.webp' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/categories/PC_3d7805381e.webp' %}" alt=""></a>
            </div>
        </div>
    </div>
</section>


<section class="best-sellers">
    <div class="container">
        <h1><i class="fa-regular fa-circle-check"></i>Sản phẩm bán chạy</h1>
        <div class="items">
            {% for product in page_obj %}
            <div class="card" data-price="{{ product.prod_price }}">
                <a href="{% url 'product_detail' product.prod_cate_lv1 product.prod_cate_lv2 product.prod_name %}">
                    {% if product.avatar_url %}
                        <img src="{{ product.avatar_url }}" alt="{{ product.prod_name }} avatar" class="card-img-top">
                    {% else %}
                        <img src="/static/default-avatar.jpg" alt="Default avatar" class="card-img">
                    {% endif %}
                </a>
                <div class="card-body">
                    <a href="{% url 'product_detail' product.prod_cate_lv1 product.prod_cate_lv2 product.prod_name %}" class="card-title-link">
                        <h5 class="card-title line-clamp">
                            {{ product.prod_name }}
                        </h5>
                    </a>
                    <p class="price"><del>{{ product.prod_discount_formatted }}</del></p>
                    <div class="product-info">
                        <p class="price">{{ product.prod_price_formatted }}đ / {{ product.prod_unit_type }}</p>
                        <div class="rate-and-sold">
                            <p class="rate"><i class="fa-solid fa-heart"></i>{{ product.prod_num_rating_formatted }}</p>
                            <p class="vertical-line">|</p>
                            <p class="sold">Đã bán {{ product.prod_sold_formatted }}</p>
                        </div>
                    </div>
                    <div id="popup" class="popup hidden">
                        <img src="{% static 'img/Thông báo Thêm vào giỏ hàng.png' %}" alt="Sản phẩm đã được thêm vào giỏ hàng">
                    </div>
                    
                    <button data-product="{{ product.id }}" data-action="add" class="update-cart">CHỌN MUA</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="bottom-best-sellers">
            <a href="#"><img src="{% static 'img/categories/bottombs1.svg' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/categories/bottombs2.svg' %}" alt=""></a>
        </div>
    </div>
</section>


<section class="categories">
    <div class="container">
        <article class="category">
            <h1><i class="fa-regular fa-circle-check"></i> Danh mục nổi bật</h1>
            <div class="grid">
                {% for category in top_categories %}
                <a href="{% url 'categories_lv2' category.cate_1 category.cate_2 %}">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ category.cate_2_image.url }}" alt="{{ category.cate_2 }}">
                            <p class="name-cate">{{ category.cate_2 }}</p>
                            <p class="num-product">{{ category.num_products }} sản phẩm</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </article>
    </div>
</section>

{% endblock %}
