{% extends 'base.html' %}

{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/TruyenThong.css' %}">
    <section class="bread-crumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'TrangChu' %}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Truyền thông</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="categories">
        <div class="container">
            <h2>Truyền thông Trạm thuốc (Chưa hoàn thiện)</h2>
            <article>
                <h4>Bài viết nổi bật</h4>
                <div class="news">
                    <div class="left">
                        <div class="new">
                            <img src="{% static 'img/ChuyenTrangBenhvaSucKhoe/5_loai_nuoc_tuyet_doi_khong_nen_dung_trong_binh_giu_nhiet_6de7645af8.webp' %}" alt="">
                            <div class="new-info">
                                <p class="topic">Phòng bệnh & Sống khỏe</p>
                                <h3>5 Loại nước tuyệt đối không nên giữ trong bình giữ nhiệt</h3>
                                <p class="desc">Một số loại đồ uống giữ trong bình giữ nhiệt có thể tiềm ẩn nhiều nguy
                                    cơ
                                    gây
                                    hại cho sức khỏe. Các chất độc hại có thể sinh ra từ phản ứng hóa học giữa nước và
                                    chất
                                    liệu
                                    bình, gây ra các vấn đề về tiêu hóa và thậm chí là ung thư. Cùng tìm hiểu 5 loại
                                    nước
                                    tuyệt
                                    đối không nên đựng trong bình giữ nhiệt qua bài viết dưới đây.</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="new">
                            <img src="{% static 'img/ChuyenTrangBenhvaSucKhoe/5_loai_nuoc_tuyet_doi_khong_nen_dung_trong_binh_giu_nhiet_6de7645af8.webp' %}" alt="">
                            <div class="new-info">
                                <p class="topic">Phòng bệnh & Sống khỏe</p>
                                <h3>5 Loại nước tuyệt đối không nên giữ trong bình giữ nhiệt</h3>
                            </div>
                        </div>
                        <div class="new">
                            <img src="{% static 'img/ChuyenTrangBenhvaSucKhoe/5_loai_nuoc_tuyet_doi_khong_nen_dung_trong_binh_giu_nhiet_6de7645af8.webp' %}" alt="">
                            <div class="new-info">
                                <p class="topic">Phòng bệnh & Sống khỏe</p>
                                <h3>5 Loại nước tuyệt đối không nên giữ trong bình giữ nhiệt</h3>
                            </div>
                        </div>
                        <div class="new">
                            <img src="{% static 'img/ChuyenTrangBenhvaSucKhoe/5_loai_nuoc_tuyet_doi_khong_nen_dung_trong_binh_giu_nhiet_6de7645af8.webp' %}" alt="">
                            <div class="new-info">
                                <p class="topic">Phòng bệnh & Sống khỏe</p>
                                <h3>5 Loại nước tuyệt đối không nên giữ trong bình giữ nhiệt</h3>
                            </div>
                        </div>
                        <div class="new">
                            <img src="{% static 'img/ChuyenTrangBenhvaSucKhoe/5_loai_nuoc_tuyet_doi_khong_nen_dung_trong_binh_giu_nhiet_6de7645af8.webp' %}" alt="">
                            <div class="new-info">
                                <p class="topic">Phòng bệnh & Sống khỏe</p>
                                <h3>5 Loại nước tuyệt đối không nên giữ trong bình giữ nhiệt</h3>
                            </div>
                        </div>
                        <div class="new">
                            <img src="{% static 'img/ChuyenTrangBenhvaSucKhoe/5_loai_nuoc_tuyet_doi_khong_nen_dung_trong_binh_giu_nhiet_6de7645af8.webp' %}" alt="">
                            <div class="new-info">
                                <p class="topic">Phòng bệnh & Sống khỏe</p>
                                <h3>5 Loại nước tuyệt đối không nên giữ trong bình giữ nhiệt</h3>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    

      

{% endblock %}
