header .main-header .customer button {
    margin-left: -10px;
}

/* dropdown cá nhân */
.dropdown {
    position: relative;
    display: inline-block;
}

.customer .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    width: 210px; 
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: -25px;
    z-index: 3;
    padding: 10px;
}

.dropdown-content ul li:hover {
    background-color: var(--background-color1);
}

.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
}

.dropdown-content img {
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* End dropdown cá nhân */

.qnt_item {
    float: right;
    position: relative;
    height: 15px;
    width: 15px;
    left: 38px;
    bottom: -5px;
}

.qnt_item {
    float: right;
    position: relative;
    height: 15px;
    width: 15px;
    left: 38px;
    bottom: -5px;
}

/* tiếp tục mua sắm */
.back {
    margin: 10px 0 10px 0;
}

/* Item List */
.cart-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 15px;
    gap: 10px;
}

.item-list {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 870px;
}
  
.checkbox-container {
    padding: 10px 10px 10px 50px;
    
}

 .checkbox-container label {
    margin-left: 5px;
    padding-right: 150px;
 }

 input[type="checkbox"] {
    margin: 0 10px 0 -20px;
}

.checkbox-container .box:first-child{
    margin-left: 34px;
}

.checkbox-container div {
    display: inline-block;
    margin-left: 71px;
    width:auto;
}

.item-card {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 50px;
    border-top: 1px solid gainsboro;
}

input[type="checkbox"] {
    margin-right: 0 30px 0 -30px;
}

.inner-name {
    width: 300px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}

.inner-price {
    margin-top: 10px;
    color: #008DDC;
    text-align: left;
    width: 100px;
}

.del-btn {
    background: none;
}

.form-select {
    margin: 0 -10px 0 20px;
    text-align: left;
    width: 100px;
}

/* End Item List*/

/* Quantity Selector */

/* Loại bỏ các nút điều chỉnh mặc định trên tất cả trình duyệt */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield; Firefox
*/

.quantity-selector {
  display: flex;
  padding: 0px;
  gap: 10px;
  justify-content:space-between;
  align-items: center;
}

.quantity-selector p {
  margin: 0;
  white-space: nowrap;
}

.input-group .btn {
  border-radius: 50%; /* Bo tròn các nút */
  width: 30px; /* Đặt chiều rộng cho nút - và + */
  height: 30px; /* Đặt chiều cao cho nút - và + */
  padding: 0; /* Loại bỏ padding để nút không bị dãn ra */
  background-color: #ffffff;
}

.input-group input {
  border-radius: 0; /* Bỏ bo tròn cho input */
  text-align: center; /* Canh giữa nội dung */
  padding: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 30px;
}

#quantity {
  width: 50px; /* Rút ngắn chiều rộng của input còn 50px */
  text-align: center; /* Canh giữa nội dung */
  padding: 0; /* Loại bỏ padding nếu có */
}

/* End of Quantity Selector */

/* Payment */

.bill {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 20px 16px 0 16px; 
    width: 400px;
    text-align: center;
    height: 250px;
}

.price {
    display: flex; 
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    font-size: 18px;
}

.total {
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    font-size: 20px;
    font-weight: bold;
}

.total span {
    color: #008DDC;
}

.cart-btn {
    width: 250px;
}