/* Header */
/* Top-header */
header {
    background-color: var(--color-primary);
}

header .top-header {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
}

header .top-header .left p {
    color: white;
}

header .top-header .left p a {
    color: white;
    text-decoration: underline;
}

header .top-header .right {
    display: flex;
    justify-content: space-between;
}

header .top-header .right p {
    color: white;
}

header .top-header .right p a {
    color: white;
}

/* End Top-header */
/* Main-header */
header .main-header .logo {
    display: flex;
    justify-content: center;
}

header .main-header .logo img {
    width: 100%;
}

header .main-header .search {
    padding-left: 20px;
}

header .main-header .search .search-bar {
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
  
}

header .main-header .search .quick-search ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
}

header .main-header .search .quick-search ul li a {
    color: white;
}

header .main-header .customer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

header .main-header .customer button {
    margin-left: 10px;
}

header .main-header .customer .cart {
    background-color: #004C76;
}
header .main-header .customer button {
    background-color: transparent ;
}

/* End Main-header */
/* End Header */

/* Navigator */
nav {
    margin-bottom: 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

nav ul li {
    padding: 5px;
}

nav ul li a {
    color: black;
}

/* End Navigator */
/* Footer */
footer {
    padding-top: 30px;
    position: relative;
}

footer::before {
    content: "";
    background: linear-gradient(0deg, #008DDC 0%, #0075B6 25%, #005C90 57.5%);
    width: 100%;
    height: 20px;
    top: 0;
    position: absolute;
}

footer li {
    padding: 5px;
}

footer .payment ul {
    display: flex;
    flex-wrap: wrap;
}

footer .payment ul li {
    flex: 1 auto;
}

footer .social-media ul {
    display: flex;
}

footer .social-media ul li a img {
    width: 28px;
}
/* End Footer */

/* Button */
button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #377CE6;
    color: white;
}

/* End Button */

/* Bread Crumb */
.breadcrumb {
    margin-bottom: 0;
    padding: 16px 0 16px 0;
}
.breadcrumb-item {
    font-size: 14px;
}
.bread-crumb nav{
    background-color: transparent;
    box-shadow: none;
}
 /* Category Card */

.categories .grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
    width: 1296px;
}

.categories h1 {
    font-size: 18px;
    margin-bottom: 16px;
}

.categories .card {
    background-color: white;
    border-radius: 15px;
    padding: 0;
    display: flex;
    width: 170px;
    height: 170px; 
    
}

.categories .card img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.categories .card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories .card .card-body h5 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
    text-align: center;
}

.categories .card .card-body p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0px;
    color: grey;
}

@media (max-width: 768px) {
    .categories .grid {
        grid-template-columns: 1fr; /* Chỉ có một cột khi màn hình nhỏ */
        width: auto;
    }

    .categories .card {
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        width: 100%; /* Thẻ card chiếm hết chiều rộng */
        height: 70px; /* Chiều cao cố định của card */
    }

    .categories .card-body {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* Đẩy các item sang trái */
        align-items: center; /* Căn giữa theo chiều dọc */
    }

    .categories .card .card-body img {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-right: 10px; /* Khoảng cách giữa ảnh và text */
    }

    .categories .card .card-body h5 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0px;
    }
    
    .categories .card .card-body p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: grey;
        margin-left: auto; /* Đẩy p sang bên phải */
    }
}

/* Product Header */
.product-header {
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid gainsboro;
}
.product-header .sort {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
.sort h2 {
    font-size: 16px;
    margin-bottom: 0;
}
.product-header .grid h1 {
    font-size: 18px;
    margin-bottom: 0;
    
}
.product-header .grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px;
}
@media (max-width: 768px) {
     .product-header .grid {
        grid-template-columns: 1fr; /* Chỉ có một cột khi màn hình nhỏ */
        width: auto;
    }
    .sort h2 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .product-header .grid h1 {
        font-size: 18px;
        margin-bottom: 16px;
        
    }
    .product-header .sort {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        padding-top: 16px;
        border-top: 1px solid gainsboro;
    }
}

/* Card of product */
.card {
    border-radius: 15px;
    overflow: hidden;
}

.product-cards .card {
    display: none;
}
.product-cards .activated{
    display: flex;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.product-cards .card .card-body .product-info .rate-and-sold {
    display: flex;
}


.card-title {
    font-size: 16px;
    display: -webkit-box;              /* Bật chế độ flex cho line clamp */
    -webkit-line-clamp: 2;            /* Hiển thị tối đa 2 dòng */
    -webkit-box-orient: vertical;     /* Đặt hướng cho box */
    overflow: hidden;                 /* Ẩn phần thừa nếu vượt quá */
    text-overflow: ellipsis;          /* Thêm dấu "..." nếu nội dung bị cắt */
    line-height: 1.5;                 /* Khoảng cách giữa các dòng */
    min-height: calc(1.5em * 2);      /* Đảm bảo chiều cao 2 dòng (1.5em mỗi dòng) */
}

.product-cards .card .card-body button {
    display: block;
    margin: 8px auto 0;
    width: 100%;
    padding: 8px 16px;
}
.price {
    font-size: 16px;
    
    font-weight: bold;
   
    color: #377CE6;
    
    margin: 2px 0;
   
}

.rate,
.sold {
    margin-bottom: auto;

    font-size: 14px;
    color: rgb(91, 91, 91);
    margin: 0 4px;
}

.fa-heart {
    color: rgb(91, 91, 91);
    margin-right: 4px;
}

.vertical-line {
    margin-bottom: auto;
    margin-top: -1px;
    font-size: 14px;
    color: rgb(91, 91, 91);
    margin: none;
}

.price del {
    color: rgb(91, 91, 91);
    min-height: 1em; /* Điều chỉnh chiều cao tối thiểu để giữ dòng trống */
    display: inline-block; /* Đảm bảo `del` có thể áp dụng chiều cao */
}

/* Filter and Product Cards */
.filter-and-product-cards {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    
}
@media (max-width: 768px) {
    .filter-and-product-cards {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 16px;
    }
}

/* Filter */
.filter {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ccc; 
    padding: 0 16px 0 16px; 
    width: 319px;
    height: 250px;
    /* position: sticky;
    top: 10px; */
}

.filter h1 {
    font-size: 18px;
    padding: 16px 0 16px 0;
    margin-bottom: 0;
}
.filter .fa {
    margin-right: 10px;
}

.filter h2 {
    font-size: 16px;
}

.filter-by-price, .filter-by-brand {
    padding: 16px 0 16px 0;
    border-top: 1px solid gainsboro;
}


/* Product List */
.product-cards .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 957px;
}
@media (max-width: 768px) {
    .product-cards .grid {
        display: grid;
        grid-template-columns:auto auto auto;
        width: 100%;
    }
    .filter {
        width: auto;
        height: 250px;
    }
}
@media (max-width: 576px) {
    .product-cards .grid {
        display: grid;
        grid-template-columns:auto auto;
        width: 100%;
    }
}

/* Pagination */
.pagination {
    margin: 16px 0;
    justify-content: center;
}


